@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.sh {
  box-shadow: 0.1rem 0.1rem 1.5rem 0.8rem hsla(221, 100%, 96%, 1);
}
